/* You can add global styles to this file, and also import other style files */
.container{
    display: grid;
    grid-template-rows: 50px 1fr;
    height: 100vh;
}

header.container_header{
    display: flex;
    justify-content: center;
    grid-column-gap: 0.5 em;
    column-gap: 0.5em;
    padding: 0.5em;
    place-items: center;
}